
/* Estilos la seccion de navegacion somos*/
.div-somos {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: beige;
}
/* Estilos para los h1 en el componentes contactanos*/
.color-title{
  color: rgb(54, 52, 192);

}
/* Estilos para boton regresar a tienda */
.color-title-boton-tienda{
  color: #fff;
  text-decoration-line: underline;

}

/* Estilos para la seccion de navegacion contactanos */
.contactos {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: beige;
}

